<!DOCTYPE html>
<!-- --------------------------- -->
<!-- signup.ejs - 회원가입페이지  -->
<!-- --------------------------- -->
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- sigh CSS : 로그인 및 회원관련 CSS -->
    <link href="/stylesheets/sign.css" rel="stylesheet">

    <!-- jquery -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <script type="text/JavaScript">
        $(document).ready(function() {

            /* --------------------------------------------------------------------
             * 함수명   : 아이디 입력창 FOCUS OUT EVENT
             * 내용     : 아이디 INPUT BOX FOCUS OUT 시 ID 중복확인을 진행한다(Ajax).
             * 작성자   : 오영문
             * -------------------------------------------------------------------- */
            $(".id_confirm").on("focusout", function() {
                var id = $('input[name=id]').val();

                // 빈 값 체크
                if(id == '' || id.length == 0) {
                    // alert("아이디를 입력해주세요."); 
                    $('#id_div').html('<a style="color: red;">필수 정보입니다.</a>');
                    return false;
                }

                // 길이 체크
                if(id.length > 0 && id.length < 5) {
                    // alert("아이디를 5글자 이상 입력해주세요.");
                    $('#id_div').html('<a style="color: red;">아이디를 5글자 이상 입력해주세요.</a>');
                    return false;
                }

                $.ajax({
                    url : "/auth/signup/id_confirm",
                    type : "POST",
                    dataType : "JSON",
                    data : {"id" : id}
                })

                .done(function(json){
                    
                    if(json.succYn == "Y" && json.cnt == 0){
                        $('#id_div').html('<a>사용가능한 ID입니다.</a>');
                    }else {
                        $('#id_div').html('<a style="color: red;">사용불가능한 ID입니다.</a>');
                    }
                    
                })

                .fail(function(xhr, status, errorThrown){
                    console.log("Ajax 실패 : " + errorThrown);
                    $('#id_div').html('<a style="color: red;">통신중 오류가 발생하였습니다.</a>');
                })
            });

            /* --------------------------------------------------------------------
             * 함수명   : 비밀번호 FOCUS OUT EVENT
             * 내용     : 두번째 비밀번호 입력 후 FOCUS OUT 시 값이 같은지 체크한다.
             * 작성자   : 오영문
             * -------------------------------------------------------------------- */
            $(".pwd_confirm").on("focusout", function() {
                
                if($("#signup_pwd1").val() != $("#signup_pwd2").val()
                    && $("#signup_pwd1").val() != ""
                    && $("#signup_pwd2").val() != "") {
                    $('#pwd_div').html('<a style="color: red;">비밀번호가 일치하지 않습니다.</a>');
                }else {
                    $('#pwd_div').html('');
                }
            });

        });
    </script>

  </head>

  <div class="container">
    <!-- navbar include -->
    <%- include('common/nav.ejs') %>

  <main class="container form-signup">
    
    <h1 id="title" class="h2 mb-4"><%= title %></h1>
    
    <form class="" action="/auth/signup_process", method="post">
        <div class="form-floating mb-3">
            <input type="text" class="form-control id_confirm" id="id" name="id" placeholder="아이디">
            <label for="floating Input">아이디</label>
            <div id="id_div"></div>
        </div> 
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nckNm" name="nckNm" placeholder="닉네임">
            <label for="nckNm">닉네임</label>
            <div id="pwd_div"></div>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="비밀번호">
            <label for="pwd">비밀번호</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control pwd_confirm" id="pwd2" name="pwd2" placeholder="비밀번호확인">
            <label for="pwd2">비밀번호 재확인</label>
            <div id="pwd_div"></div>
        </div>
        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" name="my_num1" id="my_num1" maxlength="6" placeholder="주민번호 앞자리" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    <label for="my_num1">주민등록번호 앞자리</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">        
                    <input type="password" class="form-control" name="my_num2" id="my_num2" maxlength="7" placeholder="주민번호 뒷자리">
                    <label for="my_num2">주민등록번호 뒷자리</label>
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="btdtYear" name="btdtYear" maxlength="4" placeholder="년(4자)" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    <label for="btdtYear">년(4자)</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="btdtMonth" name="btdtMonth" aria-label="월">
                        <option selected>월</option>
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>
                      <label for="btdtMonth">월</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="btdtDay" name="btdtDay" maxlength="2" placeholder="일" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    <label for="btdtDay">일</label>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="sexCd" name="sexCd" aria-label="성별">
                <!-- <option selected>성별</option -->
                <option value="M">남성</option>
                <option value="W">여성</option>
                <option value="X">선택안함</option>
            </select>
            <label for="sexCd">성별</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="cpno" name="cpno" placeholder="휴대폰번호" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
            <label for="cpno">휴대폰번호</label>
        </div>

        <div class="row g-3 mb-3">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="smsYsYn" name="smsYsYn" aria-label="SMS수신동의여부">
                        <!-- <option selected>성별</option -->
                        <option value="Y">동의</option>
                        <option value="N">동의안함</option>
                    </select>
                    <label for="smsYsYn">SMS수신동의여부</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="emalYsYn" name="emalYsYn" aria-label="이메일수신동의여부">
                        <!-- <option selected>성별</option -->
                        <option value="Y">동의</option>
                        <option value="N">동의안함</option>
                    </select>
                    <label for="emalYsYn">이메일수신동의여부</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="smsYsYn" name="smsYsYn" aria-label="SMS수신동의여부">
                        <!-- <option selected>성별</option -->
                        <option value="Y">동의</option>
                        <option value="N">동의안함</option>
                    </select>
                    <label for="smsYsYn">SMS수신동의여부</label>
                </div>
            </div>
        </div>
    </form>
  
  </main>
  <!-- footer include -->
  
  <%- include('common/footer.ejs') %>
</html>
