<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="csInf">  
  <select id="selectCsInf">
    SELECT
      *
      FROM TM_CS
     WHERE 1=1
     <if test = "csNo != null and csNo != ''">
       AND CS_NO = #{csNo} 
     </if>
  </select>
  <select id="selectLoginInfByCsId">
    SELECT 
      CS_NO       AS csNo
    , CS_DV_CD    AS csDvCd
    , JON_DT      AS jonDt
    , CS_ID       AS csId
    , CS_NM       AS csNm
    , CPNO        AS cpno
    , EMAL        AS emal
    , BTDT        AS btdt
    , SEX_CD      AS sexCd
    , SMS_YS_YN   AS smsYsYn
    , EMAL_YS_YN  AS emalYsYn
      FROM TM_CS
      WHERE CS_ID = #{csId}
        AND CS_PWD_ENCR = #{csPwd}
  </select>
</mapper>